* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 16px;
}

body {
    background-color: #222;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

.grid-container {
    background-color: brown;
    padding: 10px;
    display: grid;
    grid-template-columns: 100px 150px 400px;
    grid-template-rows: 150px;
    column-gap: 10px;
    row-gap: 15px;

}

.box-grid {
    background-color: #888;
    border: 2px solid rgb(48, 48, 190);
    padding: .5rem;
}